<html>
<head>
<link type="text/css" rel="stylesheet" href="ROJITA.css"/>
<title>company assignment</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap" rel="stylesheet">
</head>
<body>
<b1><div id = "d1" class = "divs">rojita</div></b1>

<div id="menu">
<ul>
    <li><a href="https://rlab-store.jp/">♡︎all♡︎</a></li>
    <li><a href="https://rlab-store.jp/p/about/terms#s-guide">♡︎shopping guide♡︎</a></li>
    <li><a href="https://rlab-store.jp/p/login?type=cart">♡︎login♡︎</a></li>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Sedan:ital@0;1&display=swap" rel="stylesheet">
</ul>
</div>
<div id="productline">
<div class="product">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Sedan:ital@0;1&display=swap" rel="stylesheet">
<a href="https://rlab-store.jp/c/all/acc/3417908"><img src="https://rojita.itembox.design/product/028/000000002812/000000002812-01-l.jpg?t=20240522173707"></a>

<p><span class="productname">Crystal Moon Ribbon Earrings</span> 
    is our best seller. It's anti-allergic and fashionable design are very suitable for daily wear by girls who like Japanese cute style.
</p>
<div class="price">$24.99</div>
</div>
<div class="product">

<a href="https://rlab-store.jp/c/all/onepiece/1423943"><img src="https://rojita.itembox.design/product/028/000000002877/000000002877-01-l.jpg?t=20240522173707"></a>

<p><span class="productname">Cape Dress</span> 
    is a vailable in blue, black and ivory.  This cute and elegant style is perfect for casual or semi-formal occasions.</p>
<div class="price">$93.99</div>
</div>
<div class="product">

<a href="https://rlab-store.jp/c/couture-BY-ROJITA/couture-accessory/couture-hair-accessory/3427905"><img src="https://rojita.itembox.design/product/028/000000002815/000000002815-01-l.jpg?t=20240522173707"></a>
    
<p><span class="productname">Heart Hair Clip</span> 
    is perfect for girls who like to add cute details to thir hair .  It will not fall off easily even when running or jumping.  It combines beauty and practicality.
</p>
<div class="price">$19.99</div>
</div>
<div class="product">
    
<a href="https://rlab-store.jp/c/all/bottoms/1424935"><img src="https://rojita.itembox.design/product/029/000000002930/000000002930-01-l.jpg?t=20240522173707"></a>
    
<p><span class="productname">Heart Tulle Skirt</span> 
    often sell out within a few weeks. The material will not cause itching or other allergic reactions. ALso, it is not prone to pilling. The cute Jirai-kei (地雷系) design is very popular among Japanese high school students and young ladies.</p>
<div class="price">$78.00</div>
</div>
<div class="product">
<a href="https://rlab-store.jp/c/all/acc/3417915"><img src="https://rojita.itembox.design/product/028/000000002857/000000002857-01-l.jpg?t=20240522173707"></a>
<p><span class="productname">Sparkly Heart Beaded Earrings</span> 
    's sparkling gems and ribbons give off a very cute and high-end vibe. At the same time, the earrings are very light and there will be no pulling sensation on the earlobes when worn.</p>
<div class="price">$28.99</div>
</div>

<div class="product">
<a href="https://rlab-store.jp/c/all/onepiece/1343822"><img src="https://rojita.itembox.design/product/027/000000002729/000000002729-01-l.jpg?t=20240522173707"></a>
<p><span class="productname">Floral Long Dress</span>
    is very suitable for taking photos during outings or picnics. The floral design brings out a lively and cheerful girly vibe.</p>
<div class="price">$94.99</div>
</div>
</div>
<div id="footer">
    ♡︎ROJITA Rmine Limited Company. Come find us at <a href="https://rlab-store.jp/">www.rojita.jp</a>♡︎
</div>
</body>
</html>

<style>
    #d1 {
    background-color: white;
    font-family: "Sedan";
    font-size: 40px;
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 7px;
}
#menu{
    text-transform: uppercase;
    text-align: center;
    background-color: #e8b5b5;
    font-family: "Roboto Flex";
    a {
    color: #ffffff;
    text-decoration: none;
    }
    a:hover {
        color: #fffeb1;
        text-decoration: none;
        }
}
#menu li
{
    color: rgb(255, 255, 255);
    padding: 10px;    
    display: inline-block
}
img {
    width: 200px;
    height: 240px;
    border: solid 2px #e8b5b5;
    vertical-align: center;
    text-align: center;
}
.product{ 
    font-family: "Cardo"; 
    max-width: 200px;
    display: inline-block;
    vertical-align: text-top;
    padding: 10px 10px 10px 10px;
    color: black;
    
}
#productline{
    text-align: center;    
}
.productname{
    color: #e8b5b5;
    font-weight: bold;
}
.price{
    color: #ffffff;
    background-color: #e8b5b5;
}
#footer{
    font-family: "Sedan";
    background-color: #e8b5b5;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    padding: 10px;
    a {
        color: #ffffff;
        text-decoration: none;
        }
        a:hover {
            color: #fffeb1;
            text-decoration: none;
            }
}
body{
    background-color: #ffffff;
}

</style>
